h1 { 
    margin-left: 5px;
}

h2 {
    color: #4aaaab;
}

img {
    border-radius: 15px;
    left: 50px;
    bottom: 8px;
}

.portImg {
    height: 200px;
    width: 200px;
}

figure {
    position: relative;
}

figcaption {
    background-color: #4aaaab;
    border-radius: 2px;
    width: 192px;
    color: #ffffff;
    position: absolute;
    bottom: 26px;
    left: 64px;
    border: solid 1px #ffffff
}

.about {
    padding-left: -5px;
}

.h {
    border-bottom: solid 1px #bebdbd;
    border-width: 90%;
    padding-bottom: 10px;
    padding-top: -1px;
    align-content: center;
}

.form {
    padding-top: 20px;
}

.header {
    padding-left: 5px;
    padding-right: 5px;
    width: 260px;
    background-color: #4aaaab;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    border-radius: 5px;
    margin-bottom: -23px;
    margin-left: 75px;
}

.main{
    background-image: url(../images/background.png);
    width: 100%;
    border-top: solid 1px #ddd;
    border-bottom: solid 5px #4aaaab;
    padding: 10px 0 10px 0;
}

.col-sm-2 {
    padding: 4px;
}

.com-md-6 {
    margin-left: 10px;
}

.col-sm-8 {
    margin-left: 40px;
    margin-top: 5px;
}

.col-xs-12 {
    margin-left: 15px;
    padding-right: 15px;
}

.h2 {
   left: -5px;
   margin-top: 10px;
   margin-bottom: -5px;
}

.container {
    margin-top: 25px;
    margin-bottom: 25px;
}

.headHr {
    width: 100%;
}

.hr {
    width: 90%;
}

.card {
    width: 960px;
    margin: 0 auto;
    background-color: #dddddd;
}

.submit {
    margin-bottom: 10px;
}

.footer {
    background-color: #333333;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contactCard {
    padding-left: 10px;
    padding-right: 10px;
}

.btn-primary {
    background-color: #4aaaab;
    border-color: #4aaaab;
}

.push {
    padding-top: 15px;
}

.img {
    border-radius: 15px;
    height: 200px;
    width: 200px;
    margin-left: 45px;
    margin-bottom: 15px;
}

.trivia {
    margin-top: 25px;
}

.port {
    margin-left: 15px;
    margin-right: 15px;
}

.fig1 {
    margin-left: 125px;
    margin-top: -15px;
}

.fig2 {
    margin-left: 75px;
    margin-top: -15px;
}

@media screen and (max-width:1200px) { 

    figcaption {
        width: 184px;
    }

    .card {
    width: 960px;
    padding-right: 10px;
    align-content: center;
    }

    .header {
    margin-bottom: -23px;
    margin-left: 5px;
    }
}

@media screen and (max-width:980px) {

    .card {
        width: 88%;
        padding-right: 10px;
        align-content: center;
    }
    .header {
        margin-bottom: -23px;
        margin-left: 5px;
    }    
}    

@media screen and (max-width:768px) {

    .card {
        width: 88%;
        padding-right: 10px;
        align-content: center;
    }
}      

@media screen and (max-width:640px) {

    .card {
        width: 88%;
        padding-right: 10px;
        align-content: center;
    }  

    .header {
        margin-bottom: -23px;
        margin-left: 5px;
    }
}

@media screen and (max-width:480px) {
    .fig1, .fig2 {
        align-content: center;
    }
    .card {
        width: 88%;
        padding-right: 10px;
        align-content: center;
    }  
    
    .header {
        margin-bottom: -23px;
        margin-left: 5px;
    }
}
