h1 { 
    margin-left: -10px;
}

img {
    border-radius: 15px;
}

.col-sm-2 {
    padding: 4px;
}

.col-sm-6 {
    padding: 4px;
}

.container {
    margin-top: 25px;
}

.hr {
    width: 90%;
}

.navbar {
    right: 540px;
}

.card {
    width: 960px;
}
  