h1 { 
    margin-left: 5px;
}

h2 {
    color: #4aaaab;
}

img {
    border-radius: 15px;
    left: 40px;
    bottom: 8px;
}

.header {
    padding-left: 5px;
    padding-right: 5px;
    width: 260px;
    background-color: #4aaaab;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    border-radius: 15px;
    margin-bottom: -25px;
    margin-left: 70px;
}

.main{
    background-image: url(../images/background.png);
    width: 100%;
    border-top: solid 1px #dddddd;
    border-bottom: solid 5px #4aaaab;
    padding: 10px 0 10px 0;
}

.col-sm-2 {
    padding: 4px;
}

.col-sm-8 {
    margin-left: 55px;
}

.h2 {
   left: -15px;
   margin-top: 10px;
   margin-bottom: -5px;
}

.container {
    margin-top: 25px;
    margin-bottom: 25px;
}

.headHr {
    width: 100%;
}

.hr {
    width: 90%;
}

.card {
    width: 960px;
    margin: 0 auto;
    background-color: #dddddd;
}

.submit {
    margin-bottom: 10px;
}

.footer {
    background-color: #333333;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contactCard {
    padding-left: 10px;
    padding-right: 10px;
}